.graph{
  height: 500px;
}

.vacations{
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}


.vacation{
margin-top: 10px;
}

.header{
  margin-top: 50px;
  background-color: #3f51b5;
  color: white;
  padding: 20px;
  font-size: 60px;
  text-align: center;
}

.picture{
  height: 140;
}

.biggerText{
  font-size: 2.5em;
  text-align: center;
}

.reports_header{
  font-size: 2.5em;
  margin-left: 20%;
  font-style: italic;
}


.flex-buttons{
  display: flex; 
  justify-content: flex-end;
}


.flex-login{
display: flex;
justify-content: space-between;
}


.subheader {
  font-size: small;
  text-align: end;
}